*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 15px;
    background-color: pink;
    color: black;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 20px;
    cursor: pointer;
}
.dummy{
    width: fit-content;
    
    color: red;
    font-size: 70px;
    font-weight: 700;
    margin-right: 20px;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 40%;
}